.artboard {
    width: 1366px;
    height: 851px;
    background: #FFFFFF 0 0 no-repeat padding-box;
    opacity: 1;
}

.heading {
    margin-top: 128px;
    margin-left: 306px;
    width: 738px;
    height: 61px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    letter-spacing: 0;
    color: #36006C;
    opacity: 1;
}

.paragraph {
    margin-left: 306px;
    margin-top: 43px;
    width: 754px;
    height: 134px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    letter-spacing: 0;
    color: #000000;
    opacity: 0.54;
}

.subtitle {
    margin-left: 577px;
    margin-top: 35px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    letter-spacing: 0;
    color: #000000;
    opacity: 1;
}

.cards {
    margin-left: 306px;
}

.playcard {
    margin-top: 20px;
    text-align: center;
    width: 240px;
    height: 273px;
    border-radius: 5px;
    display: inline-block;
    opacity: 1;
}

.playcard:hover {
    background: #F8F8F8 0 0 no-repeat padding-box;
}

.playcard-image {
    margin-top: 46px;
}

.playcard-name {
    margin-top: 26px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    letter-spacing: 0;
    color: #36006C;
    opacity: 1;
}

.hidden {
    display: none;
}

.modal-waiting {
    position: absolute;
    top: 172px;
    left: 244px;
    width: 879px;
    height: 492px;
    background: #FFFFFF 0 0 no-repeat padding-box;
    box-shadow: 0 0 40px #0000001A;
    border-radius: 5px;
    opacity: 1;
}

.modal-header {
    margin-top: 81px;
    height: 39px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    letter-spacing: 0;
    color: #36006C;
    opacity: 1;
}

.close {
    margin-top: 10px;
    margin-right: 10px;
    float: right;
    opacity: 0.7;
}

.player-choice {
    float: left;
    margin-top: 20px;
    margin-left: 200px;
    display: inline-block;
}

.curb-choice {
    float: right;
    margin-top: 20px;
    margin-right: 200px;
    display: inline-block;
}

.loader {
    animation: rotate 1s infinite;
}

@keyframes rotate {
    100% {
        transform: scaleX(-1);
    }
}

.modal-result {
    width: 492px;
    height: 591px;
    left: 437px;
}

.modal-subheader {
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    letter-spacing: 0;
    color: #000000;
    opacity: 0.54;
}

.modal-button {
    margin-top: 80px;
    text-align: center;
    width: 352px;
    height: 73px;
    background: #36006C 0 0 no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    letter-spacing: 0;
    color: #FFFFFF;
}